.questionpage_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    padding: 1rem;
    padding-bottom: 7vh;
}
.question_writing_pad{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--background-dark);
    background-color: var(--background-light);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6vh;
    transition: all 0.5s;
}
.question_writing_pad > textarea{
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    height: 100%;
}
.question_writing_pad > button{
    align-self: flex-end;
    font-size: 1rem;
    padding: 0.2em 0.8em;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.2em;
}
.question_writing_pad_header > h4{
    color: var(--primary-color);
}
.question_writing_pad_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
}
.question_writing_pad_header > button{
    border: none;
    background-color: transparent;
    color: var(--primary-color);
}

